*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.gradle
*.properties
gradlew
*.bat
.idea/
*.pro
app/src/androidTest/java/com/laggerlimited/moviebrowser/ExampleInstrumentedTest.java
app/src/main/res/drawable/
app/src/main/res/drawable-v24/
app/src/main/res/mipmap-anydpi-v26/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
app/src/main/res/values/api_strings.xml
app/src/test/java/com/laggerlimited/moviebrowser/ExampleUnitTest.java
*.jar
app/.gitignore
